.button-solid {
    padding-left: 40px;
    padding-right: 40px;
    height: 60px;
    background: white;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.2);

    font-weight: 800;
    font-size: 14px;
    line-height: 60px;
    letter-spacing: 4px;
    text-transform: uppercase;
    transition: .3s;

    color: #2E2E2E;

    &:hover {
        cursor: pointer;
        color: #fff;
        background: #000;
    }

    &:focus {
        outline: none;
        color: #fff;
        background: #2f2f2f;
    }
    
}